@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Playfair+Display+SC&family=Staatliches&display=swap');

* {
  margin: 0;
  padding: 0;
}


.bg-img {
  background: white;
  height: 103vh; 
}


.container {
  color: black;
  text-align: center;
  display: grid;
  align-content: center;
  height:103vh;

}



.home-text{
  font-family: 'Staatliches', cursive;
  letter-spacing: 4px;
}


.container button {
  width: 78px;
  padding: 2px 4px;
  margin: 3px 5px;
  background-color:black;
  color: white;
  font-size: 17px;
  border: none;
  border-radius: 2px;
  text-decoration: none;
  display: inline-block;
  transition: all .5s ease;
  font-family: 'Prompt', sans-serif;
  outline:none;
}

.container button:hover {
  background:transparent;
  color: black;
}

.about {
  height: 100vh;
  background-color: black;
  /* background:url(../images/bg2.jpg) center;
  object-fit: cover; */

}

.profile{
  height:100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.about-box{
  font-family: 'Prompt', sans-serif;
  margin-left: 147px;
}

.about-sid{
  font-family: 'Prompt', sans-serif;
  margin-left: 69px;
}


#profile-p {
  display: block;
  /* margin: 0 auto; */
  height: 296px;
  width: 179px;
  object-fit: cover;
  border: 0.5px solid white;

}

.about-t {
  color: white;
  font-size: 10px;
  margin: 20px;
  text-align: left;
}

.img{
  margin:0 164px;
}

/* .wul {
  color: white;
  text-align: left;
  font-size: 25px;
  margin-left:20px;
} */


.list-style{
  list-style-type: none;
}

.post-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 320px);
  gap: 20px;
  justify-content: center;
  padding-bottom: 50px;
}
.post-wrapper a{
	color:black;
	text-decoration: none;
}
.post {
  border: 1px solid #707070;
  -webkit-box-shadow: -2px 7px 21px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 7px 21px -9px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 7px 21px -9px rgba(0, 0, 0, 0.75);
}

.thumbnail {
  display: block;
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.post-preview {
  background-color: #fff;
  padding: 15px;
}


.post-title {
  color: black;
  margin: 0;
  font-size: 15px;
}

.post .post-preview a{
  font-size: 12px;
}

.footer {
  background: black;
    height:10vh;
}

.links {
  color: white;
  padding-top: 15px;
  display:grids;
  align-content: center;
  text-align: center;
  	gap:100px;
}
.links a{
	text-decoration: none;
	color:#8DD7F5;
}
.typewriter {
    font-family: Courier, monospace;
	display: inline-block;
}


@media only screen and (max-width:825px){
  .buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  .bg-img{
  	height:90vh;
  }
  .container{
    height:88vh;
  }
  .container button{
    width: 52%;
    height: 27px;
    font-size: 15px;
    text-align: center;
    display: flex;
    flex: none;
    justify-content: center;
    align-items: center;
    border-radius:3px;
  }
  .profile{
    height:137vh;
    display: flex;
    flex-direction: column;
    margin:auto;
    justify-content: center;
    text-align: center;
  }
  .img{
    margin:0 auto;
  }
  .about-box{
    margin:0 auto;
  }
  .wul{
    text-align: center;
  }
  #wul{
    margin-bottom:10px;
  }
  .about{
    height:140vh;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
    -webkit-box-shadow: 0px -1px 5px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px -1px 5px 1px rgba(0,0,0,0.75);
box-shadow: 0px -1px 5px 1px rgba(0,0,0,0.75);
  }
  .about-t{
    margin: 32px;
    text-align: center;
  }
  #profile-p{
    height: 252px;
    width: 152px;
  }
  .honey{
    display:flex;
    flex-direction: column;
    justify-content: center;
  }
  .sid{
    display:flex;
    flex-direction: column;
    justify-content: center;
  }
}